@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.new-movies {
    // display: flex;
    // flex-direction: column;
    padding: 1rem;
    

    &__list {
        display: flex;
        gap: 2rem;
        overflow-y: hidden;
        list-style: none;
    }

    &__title {
        color: white;

    }
}