@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.new-movies {
    // display: flex;
    // flex-direction: column;
    padding: 1rem;


    &__list {
        display: flex;
        gap: 2rem;
        overflow-y: hidden;
        list-style: none;
        height: 18rem;
        align-items: center;
    }

    &__title {
        color: white;
        margin-bottom: -3rem;
    }
}

.movie__container {


    &-link {
        transition: ease-in-out 0.5s;
        &:hover {
            // height: 20rem;
            // width: 10rem;
           transform: scale(1.5);
            
        }
    }

    &-image {
 
    }
}