@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.selected__movie {


    padding: 0rem 1rem;

    @include tablet {
        padding: 0rem 4rem;
    }
    @include desktop {
        
        padding: 0rem 10rem;
    }

    display: flex;


    &__rating {
        margin-top: 1rem;
        // border: red solid 1px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        &-value {
            color: white;
            margin: auto;
            margin-bottom: 1rem;
            // border: blue solid 1px;
        }
    }


    &__title {
        color: white;
        padding: 1rem;
    }
    &__like {
        color: white;
        &:hover 
        {
            color: red;
        }

        &--liked {
            color: red;
        }
        // background-color: red;
    }

    &__image-container {
        width: 100%;
        height: 200px;
        object-fit: cover;
        aspect-ratio: 9/16;
        display: flex;
        justify-content: center;

        @include tablet {
            height: 400px;

        }

        @include desktop {
            height: 800;
        }
    }

    &__image {
        border-radius: 0.25rem;
        // height: 500px;
    }

    &-link {
        display: flex; 

        &__logo {
            height: 2rem;
            width: 2rem;
        }
    }

    &__overview {
        margin-top: 1rem;
        color: white;
    }
}

.similar__movies {

    padding: 0rem 1rem 0rem 1rem;
    &__title {
        color: white;
        margin-top: 2rem;

    }

}