@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.show__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem 1rem 1rem;
    // border: lightgray 1px solid;
 
    box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;

    
    background-color: #403E3A;

    @include tablet {
        width: 20rem;
        height: 25rem;
    }

    // &-gradient {
    //     // background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
        
    // }

    &-background {
        border: red solid 1px;
        display: flex;
        flex-direction: column;
        height: 300px;
        position: relative;
        gap: 2rem;
    }

    &-main {
        display: flex;
        width: 100%;
        gap: 2rem;
    }
    
    &-poster {
        width: 5rem;
        height: 8rem;
        // border: red solid 1px;

        &__image {
            // height: 100%;
            // width: 100%;
            width: 5rem;
            height: 8rem;
            
        }
    }

    &-details {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &__1 {
            
        }

        // show__item-details__2
        &__2 {

            display: flex;
            gap: 1rem;
            align-items: center;
        }

        &__3 {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            // gap: 1rem;
            justify-content: space-between;
            flex: 1;
        }
    }

    &__runtime {
        border: lightgray 1px solid;
        background-color: white;
        padding: 0.25rem;
        border-radius: 0.25rem;
    }

    &__genres {
        color: lightgray;
    }

    &__description {
        color: lightgray;
    }

    &__title {
        color: lightgray;
    }

    &__date {
        color: lightgray;
    }

    &__watch-btn {
        width: 100%;
        padding: 0.5rem 1rem 0.5rem 1rem;
        background: #d9d8c7;
        border: none;
        margin-top: 1rem;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            color: white;
            background-color: #F24444;
        }
        
    }
}






